<div class="container">
    <div class="content">
        <app-title title="Order Form"></app-title>
        <form [formGroup]="checkoutForm" (ngSubmit)="createOrder()">
            <app-text-input [control]="fc.name" label="Name" placeholder="Your name"></app-text-input>
            <app-text-input [control]="fc.address" label="address"></app-text-input>

        </form>
        <app-order-items-list [order]="order"></app-order-items-list>
    </div>
    <!-- <div class="map">
        <app-title title="Choose your Address On Map"> </app-title>
        <app-map></app-map>
    </div> -->
    <div class="buttons-container">
        <div class="buttons">
            <button (click)="createOrder()">Go To Payment</button>
        </div>
    </div>
</div>